<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document</title>

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/heroicons@2.0.18/dist/outline/heroicons-outline.css">

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    </head>
    
    <style>
        .goal-content:target {
            display: block;
        }
    </style>
    <body id="app" class="m-4" style="background-color: #eef1f0;">
        <!-- Top Navigation -->
        <div class="font-medium border-b w-full md:w-full" style="color: #2f4870; border-color: #bec7d3;">

            <ul class="flex flex-wrap -mb-px">
                
                <li class="me-2">

                    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" style="color: #2f4870; border-color: transparent; transition: color 0.3s ease, border-color 0.3s ease;" onmouseover="this.style.color='#40a8e1'; this.style.borderColor='#40a8e1';" onmouseout="this.style.color='#2f4870'; this.style.borderColor='transparent';">Dashboard</a>

                </li>

                <li class="me-2">

                    <a href="#" class="inline-block p-4 border-b-2 rounded-t-lg" style="color: #40a8e1; border-color: #40a8e1;">Goals</a>

                </li>

                <li class="me-2">

                    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" style="color: #2f4870; border-color: transparent; transition: color 0.3s ease, border-color 0.3s ease;" onmouseover="this.style.color='#40a8e1'; this.style.borderColor='#40a8e1';" onmouseout="this.style.color='#2f4870'; this.style.borderColor='transparent';">Behavior</a>
               
                </li>

                <li class="me-2">

                    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" style="color: #2f4870; border-color: transparent; transition: color 0.3s ease, border-color 0.3s ease;" onmouseover="this.style.color='#40a8e1'; this.style.borderColor='#40a8e1';" onmouseout="this.style.color='#2f4870'; this.style.borderColor='transparent';">IDP</a>
                
                </li>
                
                <li class="me-2">
                  
                    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" style="color: #2f4870; border-color: transparent; transition: color 0.3s ease, border-color 0.3s ease;" onmouseover="this.style.color='#40a8e1'; this.style.borderColor='#40a8e1';" onmouseout="this.style.color='#2f4870'; this.style.borderColor='transparent';">PIP</a>
               
                </li>
           
            </ul>
        
        </div>

        <!-- My Business Goals Section -->
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center my-4" style="color: #2f4870;">

            <div class="text-xl font-semibold" style="color:#3a5278">My business goals</div>

            <nav class="space-x-4 text-sm flex mt-2 sm:mt-0">

                <div class="flex">

                    <a href="#" class="font-semibold text-gray-500">Performance</a>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">

                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        
                    </svg>

                </div>

                <div class="flex">

                    <a href="#" class="font-semibold text-gray-500">Self Assessment</a>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">

                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    
                    </svg>

                </div>

                <div class="flex">

                    <a href="#" class="font-semibold text-gray-500">Goals</a>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">

                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    
                    </svg>

                </div>

            </nav>
        </div>

        <div>

            <div class="flex flex-col sm:flex-row sm:space-x-4">

                <!-- Goals Tabs -->
                <nav class="w-full sm:w-1/4 pr-4">

                    <a href="#" class="block rounded py-2 mb-4 text-center" style="background-color: #40a8e1;color:#FFFFFF">+ New goal</a>

                    <div class="overflow-y-auto space-y-2" style="max-height: 17rem;"> <!-- Set max-height -->

                        <a v-for="(goal, index) in goals" :key="goal.id" href="#" @click.prevent="selectedGoal = index" class="block rounded" :style="{ backgroundColor: selectedGoal === index ? '#40a8e1' : '#d5d9db', color: selectedGoal === index ? '#ffffff' : '#324d74' }">

                            <div class="ml-3 border h-20 mx-auto p-2 text-center rounded font-medium text-lg flex items-center justify-center flex-col" :style="{ backgroundColor: selectedGoal === index ? '#f2fcff' : '#ffffff', borderColor: selectedGoal === index ? '#40a8e1' : '#d4d9da', color:'#2d4870' }">

                                {{ goal.title }}

                                <span class="block text-sm" style="color: #9dacc0;">{{ goal.title }}</span>

                            </div>

                        </a>

                    </div>

                </nav>

                <!-- Goal Details -->
                <div class="w-full sm:w-3/4 p-4 rounded shadow-lg space-y-4 h-auto mt-4 sm:mt-0" style="background-color: #ffffff;">
                    
                    <div v-if="selectedGoal !== null" class="goal-content">
                    
                        <div class="flex flex-col sm:flex-row mb-4 items-start sm:items-center w-full">
                                
                            <h3 class="font-semibold text-lg">{{ goals[selectedGoal].description }}</h3>
                        
                            <span class="text-xs ml-2 bg-yellow-200 rounded-full py-1 px-2 mt-2 sm:mt-0" style="background-color: #e8e097;">{{ goals[selectedGoal].status }}</span>
                        
                            <div class="ml-auto">

                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />

                                </svg>

                            </div>

                        </div>     
                        
                        <div class="p-4 rounded" style="background-color: #fdf9d3;">
                        
                            <div v-html="goals[selectedGoal].metrics" class="pl-4 space-y-2 text-sm"></div>
                    
                        </div>
                    
                    </div>
                                            
                </div>

                <!-- Summary Section -->
                <div class="border w-full sm:w-1/4 p-4 rounded block text-sm mt-4 sm:mt-0" style="background-color: #ffffff;">
                
                    <p class="font-semibold text-center p-2" style="background-color: #f2f2f2;">Goal Summary</p>
                
                    <p class="border-b py-2 flex justify-between">Goal Status:
                    
                        <span id="goal-status" class="text-xs" style="color: #a0aec1;">{{ goals[selectedGoal].status }}</span>
                    
                    </p>
                
                    <p class="border-b py-2 flex justify-between">Date Created:
                    
                        <span id="date-created" class="text-xs" style="color: #a0aec1;">{{ goals[selectedGoal].created }}</span>
                    
                    </p>
                    <p class="border-b py-2 flex justify-between block">Mid-year Ends In:
                    
                        <span id="mid-year" class="text-xs" style="color: #a0aec1;">2 months</span>
                    
                    </p>
                    
                    <p class="border-b py-2 flex justify-between">End-year Date:
                    
                        <span id="end-year" class="text-xs" style="color: #a0aec1;">12/05/2024</span>
                
                    </p>
            
                </div>

            </div>

        </div>
        
        <!-- Comments Section -->
        <div class="shadow-lg rounded-xl p-4 mt-12" style="background-color: #ffffff;">

            <!-- Tabs -->
            <ul class="max-w-auto w-full sm:w-1/4 flex justify-start space-x-4 p-1 rounded" style="background-color: #eef1f0; color: #364e74;">

                <li v-for="(tab, index) in tabs" :key="index" class="pl-2">

                    <a

                        href="#"
                        class="border mx-auto flex justify-start shadow-lg font-medium rounded p-1 items-center"
                        :class="{ 'bg-white': activeTab === index }"
                        @click.prevent="setActiveTab(index)"

                    >

                        {{ tab.label }}

                    </a>

                </li>

            </ul>

            <!-- Tab Content -->
            <div class="mt-4">
                <div v-if="activeTab === 0">
                    <!-- Employee Comments with Quill Editor -->
                    <h2 class="font-semibold text-sm" style="color: #4e6285;">Employee's Comments</h2>
                    <div class="quill-editor"></div>
                    <!-- Supervisor Comments -->
                    <h2 class="font-semibold text-sm" style="color: #4e6285;">Supervisor's Comments</h2>

                    <p class="border border-gray-300 shadow-lg p-4 rounded-xl text-sm" style="color: #738092;">

                        [MID]The employee has diligently pursued my business goals and individual development plans, consistently meeting business goals. I've actively demonstrated behaviors conducive to teamwork, innovation, and continuous improvement throughout the first half of the year.

                    </p>

                </div>

                <div v-if="activeTab === 1">
                    <!-- Employee Comments with Quill Editor -->
                    <h2 class="font-semibold text-sm" style="color: #4e6285;">Employee's Comments</h2>
                    <div class="quill-editor"></div>
                    <h2 class="font-semibold text-sm" style="color: #4e6285;">Supervisor's Comments</h2>
                    <p class="border border-gray-300 shadow-lg p-4 rounded text-sm" style="color: #738092;">
                        [END]The employee has diligently pursued my business goals and individual development plans, consistently meeting business goals. I've actively demonstrated behaviors conducive to teamwork, innovation, and continuous improvement throughout the first half of the year.
                    </p>

                </div>

                <div v-if="activeTab === 2">

                    <!-- Ratings or other content -->
                    <p class="text-sm" style="color: #738092;">Rating information goes here.</p>

                </div>

            </div>

            <!-- Action Buttons -->
            <div class="flex justify-end space-x-4 mt-8">
                
                <button class="p-3 border rounded text-sm" style="border-color: #95a5bb; background-color: #ffffff;">Save Draft</button>

                <button class="p-3 rounded text-sm flex items-center space-x-2" style="background-color: #3cb047; color: #ffffff;">

                    <span>Submit Final</span>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 21l18-9-18-9v7l13.5 2-13.5 2v7z" />

                    </svg>

                </button>

            </div>

        </div>

        <script src="./script.js"></script>

    </body>
    
</html>
   