<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Reportees Page</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <script src="https://unpkg.com/vue@3"></script>

    </head>

    <style>
            
        .goal-content:target {

            display: block;

        }

        body {

            background-color: #eef1f0;

        }

        .top-navigation {

            color: #2f4870; 
            
            border-color: #b5b4b6;

        }

        .top-navigation ul li a{

            color: #2f4870;

            border-color: transparent;

            transition: color 0.3s ease, border-color 0.3s ease;

        }

        .top-navigation ul li a:hover {
            
            color: #40a8e1;

            border-color: #40a8e1;

        }

        .active-tab {

            color: #40a8e1;

            border-color: #40a8e1;

        }

        .assessment h1, a {

            color: #364c72;

        }

        .icon {

            color: #8291a6;

        }
        .breadcrumb a {

            color: #8391a6;

        }

        .breadcrumb .heading {

            color: #384e72;

        }
        .left-section {

            color: #233b64;

            background-color: #fefffe;

            height: 30rem;

        }

        .left-section span {

            color: #93a3b7;

        }

        .left-section button {

            background-color: #fefffe;

            border-color: #e9e9e9;

            color: #7b8ea8;

        }

        .hourly-employees {

            color: #45597a;

        }

        .employee-card {

            background-color: #fefffe;

        }

        .employee-card h2 {

            color: #233b64;

        }

        .employee-card p {

            color: #a3b1c2;

        }

        .employee-card .icon {

            color: #808ea6;

        }

        .card h2 {

            color: #536687;

        }

        .card p {

            color: #8b9aaf;

        }

        .card-heading {
            position: relative; /* Needed for positioning the pseudo-element */
        }

        .card-heading::after {
            content: '';
            display: block; /* Makes the pseudo-element behave like a block element */
            width: 75px; /* Width of the line; adjust as needed */
            height: 2px; /* Height of the line */
            background-color: #b2bbc9; /* Grey color; adjust as needed */
            margin-top: 4px; /* Space between the text and the line */
        }


    </style>


    <body class="m-6" id="app">

        <div class="breadcrumb flex flex-col sm:flex-row sm:justify-between sm:items-center p-4 sm:p-0 space-y-2 sm:space-y-0">
        
            <!-- Heading Section -->
            <div class="heading text-xl font-semibold">Reportees</div>
        
            <!-- Navigation Section -->
            <nav class="space-x-4 text-sm flex items-center">
        
                <div class="flex items-center">

                    <a href="#" class="font-semibold text-gray-500">Performance</a>
        
                    <button class="icon ml-2">

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                           
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        
                        </svg>

                    </button>
                
                </div>
        
                <a href="#" class="font-semibold text-gray-500">Reportees</a>
        
            </nav>
        
        </div>
        
        <div class="flex flex-col lg:flex-row mt-4 space-y-6 lg:space-y-0 lg:space-x-8">

            <!-- Left Section - Profile Card -->
            <div class="left-section w-full lg:w-1/4 bg-white p-4 rounded-md shadow-md flex flex-col items-center">
                <div class="h-fit flex flex-col items-center">
                    <!-- Centered Profile Image -->
                    <img class="rounded-full w-32 h-32 md:w-40 md:h-40 mx-auto" src="https://via.placeholder.com/100" alt="Profile Image">

                    <!-- Left Aligned Content -->
                    <div class="mt-4 w-full text-left">
                        <h2 class="text-lg md:text-xl font-bold">Christine Adolwa</h2>
                        <span class="block text-sm md:text-base">Human Resource</span>
                        <p class="font-semibold mt-2 text-sm md:text-base">Department</p>
                        <span class="block text-sm mt-1 md:mt-2">HR & Corporate Sustainability</span>
                        <p class="font-semibold mt-2 text-sm md:text-base">Email</p>
                        <span class="block text-sm">christineadolwa@isuzu.co.ke</span>
                    </div>

                    <!-- Centered Button -->
                    <button class="mt-6 py-1 px-4 w-full border font-semibold rounded-lg">Edit your profile</button>
                </div>
            </div>

            <!-- Right Section - Tabs and Reportees -->
            <div class="w-full lg:w-3/4">

                <!-- Tabs -->
                <div class="top-navigation font-medium border-b w-full">

                    <ul class="flex flex-wrap -mb-px">

                        <li class="active-tab me-2">

                            <a href="#" class="inline-block pt-0 pb-2 py-4 px-4 border-b-2 rounded-t-lg" style="color: #40a8e1; border-color: #40a8e1;">Dashboard</a>

                        </li>
        
                        <li class="me-2">

                            <a href="#" class="inline-block pt-0 pb-2 py-2 px-4 border-b-2 border-transparent rounded-t-lg">Salaried</a>

                        </li>
        
                        <li class="me-2">

                            <a href="#" class="inline-block pt-0 pb-2 py-2 px-4 border-b-2 border-transparent rounded-t-lg">Hourly</a>

                        </li>

                    </ul>

                </div>

                <div class="hourly-employees p-2 sm:items-center">

                    <h1 class="font-bold text-lg">Goal Setting</h1>

                </div>

                <!-- Dashboard Cards Section -->
                <div class="card grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

                    <div v-for="card in dashboardData" :key="card.id" class="dashboard-card p-4 border rounded-lg bg-white space-y-4">
                        <h2 class="font-semibold card-heading">{{ card.title }}</h2>

                        <div class="flex items-center">
                            <p class="block flex-1 pr-4">{{ card.description }}</p>

                            <div class="relative w-20 h-20">
                                <svg class="w-full h-full" viewBox="0 0 36 36">
                                    <path
                                            class="circle-bg"
                                            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                            fill="none"
                                            stroke="#e6e6e6"
                                            stroke-width="1.2"
                                    />
                                    <path
                                            class="circle"
                                            :stroke="card.color"
                                            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                            fill="none"
                                            stroke-width="1.2"
                                            :stroke-dasharray="card.value + ', 100'"
                                    />
                                </svg>

                                <div class="absolute inset-0 flex flex-col items-center justify-center space-y-1">
                                    <span class="text-sm font-semibold" :style="{ color: card.color }">{{ card.value }}%</span>
                                    <span class="text-xs text-gray-600" :style="{ color: card.color }">{{ card.description_tag }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="hourly-employees p-2">

                    <h1 class="font-bold text-lg">Mid-year</h1>

                </div>

                <!-- Dashboard Cards Section -->
                <div class="card grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div v-for="card in midYear" :key="card.id" class="dashboard-card p-4 border rounded-lg bg-white space-y-4">
                        <h2 class="font-semibold card-heading">{{ card.title }}</h2>

                        <div class="flex justify-between items-center">
                            <!-- Fixed Width for Description -->
                            <p class="block flex-1 pr-4" >{{ card.description }}</p>

                            <!-- Circular Element Implementation -->
                            <div
                                    class="flex items-center justify-center flex-shrink-0 w-20 h-20 rounded-full"
                                    :style="{ borderColor: card.borderColor, borderWidth: '1px', borderStyle: 'solid' }"
                            >
                                <!-- Inner Circle with Dynamic Background -->
                                <div
                                        class="flex items-center justify-center w-16 h-16 rounded-full"
                                        :style="{ backgroundColor: card.backgroundColor }"
                                >
                                    <div class="flex flex-col items-center">
                                        <span class="text-base font-semibold" :style="{ color: card.textColor }">{{ card.value }}%</span>
                                        <span class="text-xs" :style="{ color: card.textColor }">Employees</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="hourly-employees p-2">

                    <h1 class="font-bold text-lg">End-year</h1>

                </div>

                <!-- Dashboard Cards Section -->
                <div class="card grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div v-for="card in endYear" :key="card.id" class="dashboard-card p-4 border rounded-lg bg-white space-y-4">
                        <h2 class="font-semibold card-heading">{{ card.title }}</h2>

                        <div class="flex justify-between items-center">
                            <p class="block flex-1 pr-4">{{ card.description }}</p>

                            <div
                                    class="flex items-center justify-center flex-shrink-0 w-20 h-20 rounded-full"
                                    :style="{ borderColor: card.borderColor, borderWidth: '1px', borderStyle: 'solid' }"
                            >
                                <div
                                        class="flex items-center justify-center w-16 h-16 rounded-full"
                                        :style="{ backgroundColor: card.backgroundColor }"
                                >
                                    <div class="flex flex-col items-center">
                                        <span class="text-base font-semibold" :style="{ color: card.textColor }">{{ card.value }}%</span>
                                        <span class="text-xs" :style="{ color: card.textColor }">Feedback</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hourly-employees p-2">

                    <h1 class="font-bold text-lg">9-box summary</h1>

                </div>

                <!-- Dashboard Cards Section -->
                <div class="card grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                    <!-- NineBox Cards -->
                    <div v-for="card in nineBox" :key="card.id" class="dashboard-card p-4 border rounded-lg bg-white space-y-4">
                        <h2 class="font-semibold card-heading">{{ card.title }}</h2>

                        <div class="flex justify-between items-center">
                            <p class="block flex-1 pr-4">{{ card.description }}</p>

                            <div
                                    class="flex items-center justify-center flex-shrink-0 w-20 h-20 rounded-full"
                                    :style="{ borderColor: card.borderColor, borderWidth: '1px', borderStyle: 'solid' }"
                            >
                                <div
                                        class="flex items-center justify-center w-16 h-16 rounded-full"
                                        :style="{ backgroundColor: card.backgroundColor }"
                                >
                                    <div class="flex flex-col items-center">
                                        <span class="text-base font-semibold" :style="{ color: card.textColor }">{{ card.value }}%</span>
                                        <span class="text-xs" :style="{ color: card.textColor }">Employees</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </body>

</html>

<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                dashboardData: [
                    {
                        id: 1,
                        title: "Goals Set",
                        description: "Employees who have set goals",
                        description_tag: "Employees",
                        value: 65, // percentage
                        color: "#4CAF50" // green
                    },
                    {
                        id: 3,
                        title: "Timeline",
                        description: "Goals set on time",
                        description_tag: "In Progress",
                        value: 50, // percentage
                        color: "#FF9800" // orange
                    },

                    {
                        id: 2,
                        title: "Goals Amended",
                        description: "Goals amended after submission",
                        description_tag: "Amended",
                        value: 60, // percentage
                        color: "#9C27B0" // purple
                    },
                ],

                midYear: [{
                        id: 1,
                        title: "Status of Review",
                        description: "Status of review",
                        value: 70, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                },
                    {
                        id: 2,
                        title: "Pending Reviews",
                        description: "Employees with mid-year pending reviews",
                        value: 30, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },
                    {
                        id: 3,
                        title: "Goal Completion",
                        description: "Number of goals completed at mid-year",
                        value: 60, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },

                ],

                endYear: [
                    {
                        id: 1,
                        title: "Employee Feedback",
                        description: "Employees who gave feedback at end-year",
                        value: 75, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },
                    {
                        id: 2,
                        title: "Goal Completion",
                        description: "Goals completed by end of year",
                        value: 85, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },
                    {
                        id: 3,
                        title: "PIP Status",
                        description: "Employees remaining on PIP",
                        value: 40, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    }
                ],

                nineBox: [
                    {
                        id: 1,
                        title: "Top Performers",
                        description: "Employees rated as top performers",
                        value: 20, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },
                    {
                        id: 2,
                        title: "Mid Performers",
                        description: "Employees rated as mid performers",
                        value: 50, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    },
                    {
                        id: 3,
                        title: "Low Performers",
                        description: "Employees rated as low performers",
                        value: 30, // percentage
                        textColor: "#2F855A",
                        borderColor: "#38A169", // Dynamic border color
                        backgroundColor: "#C6F6D5",
                    }
                ]
            };
        }
    }).mount('#app');
</script>
